aiogram
environs
redis
betterlogging
pydantic
pydantic-settings
jdatetime
routeros_api
APScheduler==3.11.0
qrcode[pil]


# # For PostgreSQL sqlalchemy + alembic:
sqlalchemy
alembic
asyncpg

# for reformatting thet code
flake8